@import url("https://fonts.googleapis.com/css2?family=Tilt+Prism&family=Workbench&display=swap");

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.news-tile-container {
  opacity: 0;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  gap: 30px;
  background-color: rgb(26, 26, 26);
  padding: 20px;
  border-radius: 10px;
  z-index: 1;
  animation: fadeIn 1s forwards;
}

.hn-results {
  opacity: 0;
  text-align: center;
  width: 100%;
  font-size: 4rem;
  margin: 0;
  animation: fadeIn 0.5s forwards;
}

.hn-dropdown-form {
  width: 100%;
  height: 40px;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  gap: 10px;
}

.hn-form-select-container {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.hn-form-select-container select {
  height: 100%;
  width: 100%;
  margin-left: 10px;
  color: white;
  text-align: center;
  background-color: #0f0f0f;
  border: none;
  border-radius: 5px;
}

.hn-dropdown-form label {
  font-size: 1.3rem;
}

@media (max-width: 700px) {
  .hn-results {
    margin: 100px;
    font-size: 3rem;
    padding: 0;
  }
  .hn-dropdown-form {
    width: 80%;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    gap: 30px;
    margin-top: 50px;
  }

  .hn-dropdown-form label {
    text-align: center;
  }

  .clear-search-button {
    width: 150px;
    height: 40px;
    font-size: 1rem;
    margin: 50px;
  }
}

.hn-app-title {
  margin: 0;
  padding: 20px 0 20px 0;
  text-align: center;
  font-size: 4rem;
  font-family: "Tilt Prism", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "XROT" 0, "YROT" 0;
}

.hacker-news-app-container {
  width: 100vw;
  min-height: 100vh;
}

.clear-search-button {
  width: 200px;
  min-height: 60px;
  font-size: 1.8rem;
  color: white;
  background-color: rgb(80, 5, 80);
  margin: auto;
  border: none;
  border-radius: 5px;
}

.clear-search-button:hover {
  background-color: rgb(117, 6, 117);
}

.hn-app-container {
  width: 100vw;
  display: flex;
  background-color: black;
  color: rgb(255, 255, 255);
  --tile: 100px;

  /* background-repeat: ; */

  background-image: url("data:image/svg+xml;utf8,\
<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'>\
  <text x='50%' y='50%' text-anchor='middle' dominant-baseline='middle' \
        font-family='monospace' font-size='24' fill='rgba(255,255,255, .15)'>&lt;/&gt;</text>\
</svg>");
  background-size: var(--tile);
}
